body{
font-size: 14pt;
font-family: verdana;
color: #000000;
}
h1{
color: red;
font-size: 26pt;
font-family: verdana;
font-weight: bold;
text-align: center;
}
.flex-container{
    display: flex;
    justify-content: space-around;
    
}
.element-1{
    background-color: antiquewhite;
    border: 2px solid #0000ff;
    margin: 2px;
    padding: 3px;
}
.element-2{
    background-color: beige;
    border: 2px dashed #ff0000;
    margin: 2px;
    padding: 3px;
}